@model Asp_net_Lab_1.Models.Order

<h2>Видалення товару</h2>

<p>Ви впевнені, що хочете видалити цей товар?</p>

<div>
    <h4>Інформація про користувача:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Повна назва:</dt>
        <dd class="col-sm-10">@Model.ProductName</dd>

        <!-- Додайте інші поля для відображення даних користувача, які ви хочете показати перед видаленням -->
    </dl>

    <form asp-action="DeleteOrder" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <input type="submit" value="Підтвердити видалення" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-secondary">Скасувати</a>
        </div>
    </form>
</div>
